<div ng-include="'views/common/header-noSideBar.view.client.html'"></div>

<div class="container-fluid" wd-draggable>

    <div ng-repeat="widget in model.widgets"
         class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include="model.widgetUrl(widget)"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="model.widgetUrl(widget)"></div>
            </div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="model.widgetUrl(widget)"></div>
            </div>
            <div ng-switch-when="HTML">
                <div ng-include="model.widgetUrl(widget)"></div>
            </div>
            <div ng-switch-when="TEXT">
                <div ng-include="model.widgetUrl(widget)"></div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>