<div ng-include="'views/common/header-noSideBar.view.client.html'"></div>

<div class="container-fluid">
    <div ng-show="model.message"
         class="alert alert-info">{{model.message}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username"
                   type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   placeholder="john123"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   placeholder="abc123"/>
        </div>
        <div class="form-group">
            <label for="reenter-password">Password</label>
            <input id="reenter-password"
                   type="password"
                   ng-model="model.user.reEnterPassword"
                   class="form-control"
                   placeholder="verify password"/>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       ng-click="model.register()">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
